* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: $mainGray;
}

.container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
